<div class="home-page">
  <div class="home-content">
    <div class="home-header">
      <h1>My Budget</h1>
    </div>
    <div class="home-authentication">
      <div class="home-login">
        <%= link_to 'LOG IN', new_user_session_path%>
      </div>
      <div class="home-register">
       <%= link_to 'SIGN UP', new_user_registration_path%>
      </div>
    </div>
  </div>
</div>