<div>
  <div>
    <div >
      <h3><%= expanse.name %></h3>
      <small><%= expanse.creation_date.strftime("%d %b %Y") %></small>
    </div>
    <em>
      $<%= expanse.amount%>
    </em>
  </div>
</div>