<%= form_with(model: category) do |form| %>
  

  <h1 class="text-center">New category</h1>
  
  <div>
    <%= form.text_field :name, required: true, placeholder: 'Category Name', class: "form-control mb-3" %>
  </div>

  <div>
    <%= form.text_field :icon, placeholder: "Category Icon: 'http://'", class: "form-control mb-3" %>
  </div>

  <div class="text-center d-grid gap-2">
    <%= form.submit nil, class:'btn btn-primary btn-lg' %>
  </div>
<% end %>